/* General Styling */
.container {
  max-width: 1200px;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 15px;
  margin-left: 50px;
}

.filter-container select {
  padding: 8px;
  font-size: 14px;
}

.student-table {
  width: 100%;
}
.student-table th,td{
  padding: 1.2rem, 1,5rem;
}
.student-table th{
  color: #131313;
  padding: 1rem;
}
.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.student-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* width: 300px; */
  transition: transform 0.3s ease;
}

.student-card:hover {
  transform: scale(1.05);
}

.student-info p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #555;
}

.student-info p strong {
  color: #333;
}

/* Buttons */
.student-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.student-actions .btn {
  font-size: 0.9rem;
  padding: 5px 10px;
}

/* Modal Styling */
.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.form-label {
  font-weight: 600;
  color: #555;
}
.student-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}



.student-table .editbtn {
  font-size: 20px;
  color: #2779d1;
}

.student-table .deletebtn {
  color: #dc3545;
  font-size: 20px;

}

.student-table button:hover .fa {
  opacity: 0.8;
}
@media (max-width:768px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }  
  
}