/* viewdept.css */

.view-department-container {
  margin: 0;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* .filter-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:start;
  margin-bottom: 20px;
} */

.dfilter-container label {
  margin-right: 10px;
}

.dfilter-container select {
  font-size: 16px;
}

.tablecontainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on touch devices */

}

.department-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.department-table th,
.department-table td {
  border: 1px solid #e4e2e2;
  padding: 1rem;
  text-align: left;
}


.department-table th {
  background-color: #f6f8f6;
  color: #131b24;
}

.department-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.coursetd {
  display: flex;
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(82, 136, 236);
  background-color: #dde8f4;
}

/* Add a hover effect if desired */
.coursetd:hover {
  background-color: #c5dff1;
}

.department-table button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.department-table .editbtn {
  font-size: 20px;
  color: #2779d1;
}

.department-table .deletebtn {
  color: #dc3545;
  font-size: 20px;

}

.department-table button:hover .fa {
  opacity: 0.8;
}

/* .full-description {
  width: 300px;
} */

/* .modal-title {
  text-align: center;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}

.modal-body .form-group {
  margin-bottom: 15px;
} */
.modal-dialog {
  max-width: 70% !important;
  width: 70% !important;
  margin-right:  1% !important;
  
}

.modal-content {
  width: 50% !important;
  display: flex !important;
}

@media (min-width: 1001px) {
  .full-description {
    display: block;
  }

  .view-details {
    display: none; 
  }
}

@media (max-width: 1000px) {
  .full-description {
    display: none; /* Hide full description */
  }

  .view-details {
    display: block; /* Show link */
  }

  .department-table th:nth-child(3),
  .department-table td:nth-child(3) {
    width: 10%;
    white-space: wrap;
  }

  .department-table th:nth-child(4),
  .department-table td:nth-child(4) {
    width: 40%; /* Increase width */
    max-width: 400px; /* Adjust max width */
    white-space: normal; /* Allow text wrapping */
    overflow-wrap: break-word;
  }
}




@media (max-width:768px) {
  .tablecontainer {
    overflow-x: auto;
  }

  .department-table th:nth-child(4),
  .department-table td:nth-child(4) {
    width: 30%;
    /* max-width: 400px; */
    /* Optional: Prevent too much stretching */
    /* white-space: normal; */
  }

}