body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.tohome {
    background-color:rgb(73, 73, 197) ;
    border: none;
    border-radius: 50px;
   padding: 10px 20px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
.tohome:hover{
    background-color: rgb(50, 50, 164);
    color: white;
    text-decoration: none;
}

.dash {
    background: rgb(50, 50, 164);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;


}

.icon-photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.stdOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

}

.stdOptions a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px;
    border-radius: 4px;
    transition: all 0.3s ease;

    font-size: 1.2rem;
}
.stdOptions a:hover{
    text-decoration: none;

    background-color: whitesmoke;
    color: #0056b3;
}
.stdOptions a.active{
    background-color: whitesmoke;
    color: #0056b3;

}
.notification {
    font-size: 1.5rem;
    cursor: pointer;
    color: #dee5eb;
    transition: color 0.3s ease;
}

.notification:hover {
    color: #0d6efd;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: white; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -95px;
    height: fit-content;


}
.stdprofile-info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.photo img {
    width: 100%;
    height: 230px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.text-center h4 {
    font-size: 20px;
    font-weight: bold;
}

.text-center p {
    color: #555;
}

hr {
    border: 1px solid #ddd;
}

.profile {
    line-height: 1;
    font-size: 18px;
}

.view {
    margin-top: 30px;
    /* border: 1px solid ; */
    border-radius: 20px;
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.fab:hover {
    background-color: #0056b3;
}

.action-menu {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-menu button {
    width: 140px;
}
.custom-modal .modal-dialog {
    width: auto; 
    max-width: 80%;
}

.custom-modal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}



@media (max-width: 1200px) {
    .sidebar {
        top: -80px;
        max-height: 450px;
        width: fit-content;
        padding: 10px;
    }

    .photo img {
        width: 180px;
        height: 180px;
    }

    .text-center h3 {
        font-size: 18px;
    }

    .text-center p {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .sidebar {
        top: 0px;
        max-height: 330px;
        width: 20%;
        justify-content: flex-start;
        align-items: flex-start;
        /* left: 10px */
    }

    .photo img {
        width: 170px;
        height: 170px;
    }

    .text-center h3 {
        font-size: 16px;
    }

    .text-center p {
        font-size: 13px;
    }
    #hidesidebar{
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        top: 0px;
        max-height: 330px;
        padding: 8px;
        width: 30%;
        justify-content: center;
        align-items: center;
    }

    .photo img {
        width: 155px;
        height: 152px;
    }

    .text-center h3 {
        font-size: 20px;
    }

    .text-center p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        top: 0;
        max-height: 450px;
        width: 100%;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }

    .photo img {
        width: 170px;
        height: 170px;
        align-items: center;
    }

    .text-center h3 {
        font-size: 20px;
    }

    .text-center p {
        font-size: 18px;
    }
}