.college-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    border: 1px solid #d1cfcf;
    background-color: rgb(52, 63, 53);
    color: #d1cfcf;
}

.college-container .college-info {
    width: 500px;
    text-align: center;
    font-size: 18px;
}
.college-info h3{
    font-weight: 600;
}
.college-contact-d{
    font-style: italic;
}